@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Applying the font style to all the elements in the application and class name */
html,
body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Style to the class name app */
.app {
  display: flex;
  position: relative;
}

/* Style to scroll bar */
::-webkit-scrollbar{
  width: 10px;
}

/* Track - Background of scrollbar*/
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle - buttons of scroll bar */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}